@model List<ModelEntity.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <a class="btn btn-primary" href="~/Student/create">New</a>
</div>
<div class="container">
    <table class="table">
        <tr class="btn-primary">
            <th>Code</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>CellPhone</th>
            <th colspan="3">Operations</th>
        </tr>
        @foreach (var objStudent in Model)
        {
            <tr>
                <td>@objStudent.Id</td>
                <td>@objStudent.Name</td>
                <td>@objStudent.Last_name</td>
                <td>@objStudent.Cellphone</td>
                <td><a class="btn btn-success" href="~/Student/getStudent/@objStudent.Id">See</a></td>
                <td><a class="btn btn-primary" href="~/Student/update/@objStudent.Id">Update</a></td>
                <td><a class="btn btn-danger" href="~/Student/delete/@objStudent.Id">Delete</a></td>
            </tr>
        }
    </table>
</div>